.menuButton {
  position: absolute;
  top: .2rem;
  right: .2rem;
}
.drawContainer {
  padding: .2rem 0;
}
.weightButton {
  margin-top: .2rem;
  margin-left: .2rem;
}
.drawItem {
  margin-bottom: .2rem;
}